@import '../../vars.css';

.mzw-account-selector__label {
  margin-bottom: 0.4rem;
  color: var(--color-light-grey);
}

.mzw-account-selector__button {
  margin-right: 1rem;
  outline: none;
}

.mzw-account-selector__button--selected {
  background-color: var(--color-gold) !important;
}
