@import '../../vars.css';

.mzw-category-icon--character {
  color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 200%;
}

.mzw-category-icon--transport-bg {
  background-color: var(--color-category-transport);
}
.mzw-category-icon--groceries-bg {
  background-color: var(--color-category-groceries);
}
.mzw-category-icon--eating_out-bg {
  background-color: var(--color-category-eatingOut);
}
.mzw-category-icon--cash-bg {
  background-color: var(--color-category-cash);
}
.mzw-category-icon--bills-bg {
  background-color: var(--color-category-bills);
}
.mzw-category-icon--entertainment-bg {
  background-color: var(--color-category-entertainment);
}
.mzw-category-icon--shopping-bg {
  background-color: var(--color-category-shopping);
}
.mzw-category-icon--holidays-bg {
  background-color: var(--color-category-holidays);
}
.mzw-category-icon--general-bg {
  background-color: var(--color-category-general);
}
.mzw-category-icon--expenses-bg {
  background-color: var(--color-category-expenses);
}
