.category--transport { color: #1E788C; }
.category--transport-bg { background-color: #1E788C; }
.category--groceries { color: #F5B946; }
.category--groceries-bg { background-color: #F5B946; }
.category--eating_out { color: #E64B5F; }
.category--eating_out-bg { background-color: #E64B5F; }
.category--cash { color: #9ABBA8; }
.category--cash-bg { background-color: #9ABBA8; }
.category--bills { color: #50B9DC; }
.category--bills-bg { background-color: #50B9DC; }
.category--entertainment { color: #EB824B; }
.category--entertainment-bg { background-color: #EB824B; }
.category--shopping { color: #F09696; }
.category--shopping-bg { background-color: #F09696; }
.category--holidays { color: #B982FF; }
.category--holidays-bg { background-color: #B982FF; }
.category--general { color: #CCCCCC; }
.category--general-bg { background-color: #CCCCCC; }
.category--expenses { color: #E1B982; }
.category--expenses-bg { background-color: #E1B982; }
