@import '../../vars.css';

.mzw-transaction-detail__empty {
  color: grey;
  text-align: center;
}

@media (max-width: 800px) {
  .mzw-transaction-detail__empty {
    text-align: left;
  }
  .mzw-transaction-detail {
    margin-bottom: 1em;
  }
}

.mzw-transaction-detail {
  background-color: var(--color-white);
  border: 1px solid var(--color-light-grey);
  position: relative;
}

.mzw-transaction-detail__map {
  width: 100%;
  height: 9em;
  background-color: var(--color-light-grey);
  background-position: center;
  background-size: 110%;
}

.mzw-transaction-detail__map--category-transport {
  background-color: var(--color-category-transport);
}
.mzw-transaction-detail__map--category-groceries {
  background-color: var(--color-category-groceries);
}
.mzw-transaction-detail__map--category-eating_out {
  background-color: var(--color-category-eatingOut);
}
.mzw-transaction-detail__map--category-cash {
  background-color: var(--color-category-cash);
}
.mzw-transaction-detail__map--category-bills {
  background-color: var(--color-category-bills);
}
.mzw-transaction-detail__map--category-entertainment {
  background-color: var(--color-category-entertainment);
}
.mzw-transaction-detail__map--category-shopping {
  background-color: var(--color-category-shopping);
}
.mzw-transaction-detail__map--category-holidays {
  background-color: var(--color-category-holidays);
}
.mzw-transaction-detail__map--category-general {
  background-color: var(--color-category-general);
}
.mzw-transaction-detail__map--category-expenses {
  background-color: var(--color-category-expenses);
}

.mzw-transaction-detail__summary__main,
.mzw-transaction-detail__summary__other {
  padding: 1em;
}

.mzw-transaction-detail__summary__main {
  background: var(--color-lighter-grey);
}

.mzw-transaction-detail__summary__other {
  padding-right: 4.5em;
  position: relative;
}

.mzw-transaction-detail__summary__main {
  background: var(--color-lighter-grey);
}

.mzw-transaction-detail__summary__other {
  position: relative;
}

.mzw-transaction-detail__international-currency {
  color: var(--color-grey);
  font-size: 0.85em;
  margin-left: 0.25em;
}

.mzw-transaction-detail__approx-rate {
  font-weight: 600;
}

.mzw-transaction-detail__item {
  padding: 0.25em 0;
}

.mzw-transaction-detail__category {
  position: absolute;
  right: 1em;
  top: -1.5em;
  display: block;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  overflow: hidden;
}

.mzw-transaction-detail__category img {
  max-width: 100%;
  padding: 0.5em;
  box-sizing: border-box;
}

.mzw-transaction-detail__header {
  padding-top: 1em;
  font-size: 1.15em;
  display: flex;
  justify-content: space-between;
}

.mzw-transaction-detail__header__name {
  font-weight: 600;
}

.mzw-transaction-detail__header__price {
  font-size: 1.5em;
  margin-top: -0.25em;
  display: flex;
  align-items: center;
}

.mzw-transaction-detail__created, .mzw-transaction-detail__description {
  color: var(--color-grey);
}

.mzw-transaction-detail__description {
  font-size: 75%;
}

.mzw-transaction-detail__logo {
  position: absolute;
  height: 5rem;
  width: 5rem;
  top: calc(160px - 3.5rem);
  left: 1rem;
  border-radius: 5px;
}
