@import '../../vars.css';

.mzw-button {
  padding: 0.5em 0.75em;
  color: var(--color-white);
  font-family: inherit;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  background-color: var(--color-light-blue);
  border: 0;
  border-radius: 5px;
}

.mzw-button:hover{
  background-color: var(--color-blue);
}

.mzw-button:focus {
  background-color: var(--color-blue);
}
