@import '../../vars.css';

.mzw-transactions {
  background-color: var(--color-white);
  border-top: 1px solid var(--color-lighter-grey);
  height: 67vh;
  overflow-y: auto;
}

.mzw-transactions--loading {
  display: flex;
}

.mzw-transactions__list {
  list-style-type: none;
}
