.mw-logo {
  display: flex;
  align-items: flex-start;
}

.mw-logo__image {
  width: 175px;
  height: auto;
}

.mw-logo__text {
  font-size: 22pt;
  font-weight: 200;
  color: white;
  margin-left: 0.25rem;
}
