@import '../../vars.css';

.mzw-link {
  color: var(--color-white);
  margin-right: 1rem;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &:last-child {
    margin-right: 0;
  }
}
