@import '../../vars.css';

.mzw-accounts {
  display: flex;
  flex-direction: column;
}

.mzw-accounts__header-container {
  background: var(--color-dark-blue);
}

.mzw-accounts__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  @apply --container;
}

.mzw-accounts__search {
  display: flex;
}

.mzw-accounts__search__text {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
}

.mzw-accounts__search__input {
  width: 100%;
  padding: 1em;
  font: inherit;
  color: var(--color-dark-blue);
  background-color: var(--color-white);
  border: none;
  outline: none;
}

.mzw-accounts__transactions {
  display: flex;
  padding: 1em 0;
  width: 100%;
  @apply --container;
}

.mzw-accounts__transactions__list {
  padding-right: 1em;
}

.mzw-accounts__transactions__list,
.mzw-accounts__transactions__detail {
  width: 50%;
}

@media (max-width: 800px) {
  .mzw-accounts__transactions {
    flex-direction: column;
  }

  .mzw-accounts__transactions__list,
  .mzw-accounts__transactions__detail {
    width: 100%;
  }

  .mzw-accounts__transactions__list {
    padding-right: 0;
    order: 2;
  }

  .mzw-accounts__transactions__detail {
    order: 1;
  }
}