@import '../../vars.css';

.mzw-accounts {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.mzw-accounts__heading {
  background-color: var(--color-blue);
  padding: 2rem var(--global-gutter);

  & > div {
    justify-content: space-between;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    @apply --container;
  }
}

.mzw-accounts__transactions {
  flex: 1;
  display: flex;
  overflow: scroll;
  padding: 1rem var(--global-gutter);
  width: 100%;
  @apply --container;
}
