.transaction--overview {
  position: relative;
  margin-bottom: 10px;
}

.transaction--overview--map {
  width: 100%;
  height: 160px;
  background-color: #ddd;
  background-position: center;
  background-size: 110%;
}

.transaction--overview--logo {
  position: absolute;
  height: 100px;
  width: 100px;
  padding: 4px;
  left: 15px;
  bottom: -25px;
  background: white;
}

.transaction--amount {
  float: right;
  padding: 0.25em 15px;
  font-size: 2em;
}

.category {
  text-transform: capitalize;
  font-size: 1.25em;
}

.category::before {
  content: '';
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 0.5em;
  background: currentColor;
  border-radius: 50%;
}

.category--mondo { display: none; }
.category--transport { color: #1b7693; }
.category--groceries { color: #f5ba46; }
.category--eating_out { color: #d84d5b; }
.category--cash { color: #96bba6; }
.category--bills { color: #4eb7d9; }
.category--entertainment { color: #e88248; }
.category--shopping { color: #f09695; }
.category--holidays { color: #B882FD; }
.category--general { color: #979797; }
.category--expenses { color: #e0b782; }
