@import 'materialize/materialize.scss';

* {
  outline: none;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}

.loggedOut {
  background: #14233c;
  color: white;
  text-align: center;
}

.loggedOut p {
  font-size: 1.25em;
  line-height: 1.25em;
  max-width: 18em;
  margin: 0 auto 2em;
}

.loggedOut .nav {
  box-shadow: none;
  height: 8em;
  padding: 2em 0;
  margin-bottom: 3em;
}

.loggedOut .nav--logo {
  width: 225px;
  display: block;
  margin: 2em auto 0;
}

.wrapper {
  max-width: 1330px;
  margin: 0 auto;
}

.primary-text {
  color: $primary-color;
}

.primary-light {
  background-color: $primary-color-light;
}

.primary-light-text {
  color: $primary-color-light;
}

.secondary-color {
  background-color: $secondary-color;
}

.secondary-color-text {
  color: $secondary-color;
}

// Same as .collection css
.border-box {
  background-color: white;
  padding: 1em;
  border-radius: 2px;
  border: 1px solid $collection-border-color;
  @media (max-width: 992px) {
    padding: 1% 2.5%;
  }
}

.nav--mobile-menu {
  @extend .rounded;
  border: 1px solid white;
  padding: 7px 17px;
  margin-right: 9px;
}

.rounded {
  border-radius: 10% !important;
}

.fadein {
    animation: fadein .25s;
}
@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}
