@import '../../vars.css';

.mzw-chip {
  padding: 0.25em 0.75em;
  display: inline-block;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
  font-size: 0.85em;
  background-color: var(--color-off-white);
  border-radius: 4px;
}
