@import '../../vars.css';

.mzw-balance {
  display: flex;
  padding-bottom: 0.5em;
  color: var(--color-white);
}

.mzw-balance__label-container {
  min-width: 8em;
}

.mzw-balance__label-container > .mzw-balance__label {
  margin-top: 0.5em;
  color: var(--color-lighter-blue);
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: 2px;
}

.mzw-balance > .mzw-balance__label-container:first-child {
  margin-right: 2em;
}

.mzw-balance__value {
  margin-top: 0.25em;
  line-height: 1em;
  font-size: 1.5em;
  font-weight: 600;
}

.mzw-balance--loading .mzw-balance__value {
  background: var(--color-dark-blue-placeholder);
  color: var(--color-dark-blue-placeholder);
}
