@import './vars.css';

*::before, *, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: 'Source Sans Pro', 'HelveticaNeue', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  color: var(--color-dark-blue);
  background-color: var(--color-off-white);
}

.mzw {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
