:root {
  --global-gutter: 1rem;
  --color-dark-blue: #14233c;
  --color-blue: #144673;
  --color-light-blue: #50B9DC;
  --color-off-white: #f5f5f5;
  --color-white: white;
  --color-red: #e63b5f;
  --color-green: #50af78;
  --color-light-grey: lightgrey;
  --color-grey: grey;
  --color-gold: #f9b548;
  --body-width: 54rem;
  --global-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);

  --container: {
    max-width: var(--body-width);
    margin: 0 auto;
  }
}
