#spending-map {
  z-index: 0;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin-top: 64px;
  width: 100%;
  height: calc(100vh - 64px);
}

#side-note {
  z-index: 1;
  right: 0;
  margin-top: -1em;
  position: absolute;
  padding: 5px;
  background-color: rgba(20,35,60,.8);
  color: white;
  border-bottom-left-radius: 5px;
  @media screen and (max-width: 600px) {
    border-bottom-left-radius: 0;
  }
}

p.info-window {
  margin: 0;
}
