@import '../../vars.css';

.mzw-link {
  color: var(--color-blue);
  text-decoration: none;
  border: 1px solid transparent;
  font-family: inherit;
  font-weight: 600;
  background: none;
  padding: 0;
  border: 0;
}

.mzw-link:hover {
  text-decoration: underline;
}

.mzw-link:focus {
  outline: 0;
  border: 1px dotted var(--color-white);
}

.mzw-link:last-child {
  margin-right: 0;
}

.mzw-link--onColor {
  color: var(--color-white);
}

.mzw-link--padded {
  margin: 0 0.75em;
}